
<div class="page">
  <div class="left-pane video-player">
    <youtube-player id="current-video" video-id="currentPost.url | getVideoIDfromURL"></youtube-player>
    <div class="video-info">
      <h3 class="title" title="{{currentPost.title}}" click-to-expand>{{currentPost.title}}</h3>
      <div class="details" ng-show="currentPost">
        (+{{currentPost.ups}} / -{{currentPost.downs}})
        <span class="divider">|</span>
          <a href="http://reddit.com{{currentPost.permalink}}" target="_blank">
            <ng-pluralize count="currentPost.num_comments"
                          when="{'0': 'No comments',
                                 '1': '1 comment',
                                 'other': '{} comments'}">
            </ng-pluralize>
          </a>
        <span class="divider">|</span>
        {{currentPost.created | timeago}}
        <span class="divider">|</span>
        <a href="http://reddit.com/user/{{currentPost.author}}" target="_blank">
          u/{{currentPost.author}}
        </a>
      </div>
    </div>
  </div>

  <div class="right-pane">
    <div class="controls" ng-show="posts.length">
      <button ng-click="prevVideo()" class="prev">&lt;</button>
      <button ng-click="nextVideo()" class="next">&gt;</button>
    </div>
    <ul class="video-list" screen-height height-offset="182">
      <li class="post" ng-repeat="post in posts" ng-click="selectPost(post.id)">
        <img class="thumbnail" ng-src="{{post.url | getVideoIDfromURL | idToThumbnail}}">
        <h4 class="title">{{post.title}}</h4>
      </li>
    </ul>
  </div>
</div>
