@import 'reset';
@import 'click-to-expand';

$light-gray: #ddd;
$medium-gray: #888;

$main-font-color: $light-gray;

$page-width: 1040px;
$space-between-panes: 20px;
$left-pane-width: 640px;
$right-pane-width: $page-width - $left-pane-width - $space-between-panes;
$thin-border: 1px solid $main-font-color;

@mixin transform($value) {
  -webkit-transform: $value;
     -moz-transform: $value;
      -ms-transform: $value;
       -o-transform: $value;
          transform: $value;
}

* {
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
    color: $main-font-color;
    font-family: 'Sintony', sans-serif;
    background-color: #222;
}

a {
    color: $main-font-color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.page {
    width: $page-width;
    margin: 20px auto 0 auto;
    position: relative;
}

[ng-click] {
    cursor: pointer;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

header {
    $header-height: 102px;
    height: $header-height;
    padding: 10px 0;

    [ng-click] {
        &:hover {
            border-bottom: 2px solid $main-font-color;
        }

        &.selected {
            color: $medium-gray;
            border-bottom: 2px solid $main-font-color;
        }
    }

    .subreddit {
        font-size: 24px;
        line-height: $header-height;
        float: left;
        padding-left: 10px;
    }

    .title {
        font-size: 54px;
        line-height: $header-height;
        text-align: right;
    }

    $head-width: 100px;
    $head-height: $head-width;
    .redditelly-head {
        float: left;
        width: $head-width;
        height: $head-height;
    }
}

.left-pane {
    position: absolute;
    left: 0;
    width: $left-pane-width;
}

.right-pane {
    width: $right-pane-width;
    margin-left: $left-pane-width + $space-between-panes;
}

.video-player {
    width: $left-pane-width;
    .video-info {
        padding: 0 10px;
    }

    .title {
        font-size: 24px;
        line-height: 32px;
        margin: 10px 0;
    }

    .details {
        font-size: 13px;
        font-family: sans-serif;
    }

    .divider {
        color: $medium-gray;
    }
}

.controls {
    height: 40px;

    .next, .prev {
        width: 50%;
        color: $main-font-color;
        outline: none;
        background: none;
        border: none;
        border-top: 1px solid $medium-gray;
        border-bottom: 1px solid $medium-gray;
        height: 30px;

        &:hover {
            background-color: #333;
        }
    }

    .prev {
        float: left;
    }

    .next {
        float: right;
    }
}

$video-list-width: $right-pane-width;
$thumbnail-width: 120px;
.video-list {
    width: $video-list-width;
    overflow-y: auto;
    overflow-x: hidden;
    .post {
        font-family: sans-serif;
        word-spacing: 0.08em;
        position:relative;
        min-height: 90px;
        margin-bottom: 10px;

        &:hover {
            border-right: 1px solid $medium-gray;
        }
    }

    .thumbnail {
        position: absolute;
        left: 0;
        width: $thumbnail-width;
    }

    .title {
        width: $video-list-width - $thumbnail-width - 20px;
        margin-left: $thumbnail-width;
        padding: 0 10px;
        font-size: 16px;
        line-height: 20px;
    }
}

$subreddit-picker-width: $right-pane-width - $thumbnail-width - $space-between-panes;
.picking-subreddit {
    .video-picker, .video-player {
        @include transform(translateX($subreddit-picker-width + $space-between-panes));
    }

    .right-pane, .video-picker {
        width: $thumbnail-width;
        overflow-x: hidden;
    }

    .video-list {
        .title {
            display: none;
        }

        .post {
            width: $thumbnail-width;
        }
    }

}

.subreddit-picker {
    width: $subreddit-picker-width;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10px;
    border-right: 1px solid $medium-gray;

    .category {
        margin-bottom: 20px;
    }

    .category-name {
        font-size: 18px;
        line-height: 32px;
        color: $medium-gray;
    }

    .subreddit-list {
        padding-left: 10px;
    }

    .subreddit {
        font-family: sans-serif;
        font-size: 16px;
        line-height: 24px;

        &:hover {
            text-decoration: underline;
        }
    }
}
