
<div class="page" ng-class="{'picking-subreddit': pickingSubreddit}">
  <div class="subreddit-picker" ng-if="pickingSubreddit">
    <div ng-repeat="category in categories" class="category">
      <h2 class="category-name">{{category.name}}</h2>
      <ul class="subreddit-list">
        <li class="subreddit" ng-repeat="subreddit in category.list" ng-click="goTo(subreddit)">
          r/{{subreddit}}
        </li>
      </ul>
    </div>
  </div>

  <div class="left-pane video-player">
    <youtube-video id="current-video" video-url="currentPost.url"></youtube-video>
    <div class="video-info">
      <h3 class="title" title="{{currentPost.title}}" click-to-expand collapse-on="redditelly.post.change">{{currentPost.title}}</h3>
      <div class="details" ng-show="currentPost">
        +{{currentPost.ups - currentPost.downs}}
        <span class="divider">|</span>
          <a href="http://reddit.com{{currentPost.permalink}}" target="_blank">
            <ng-pluralize count="currentPost.num_comments"
                          when="{'0': 'no comments',
                                 '1': '1 comment',
                                 'other': '{} comments'}">
            </ng-pluralize>
          </a>
        <span class="divider">|</span>
        {{currentPost.created_utc | timeago}}
        <span class="divider">|</span>
        <a href="http://reddit.com/user/{{currentPost.author}}" target="_blank">
          u/{{currentPost.author}}
        </a>
      </div>
    </div>
  </div>

  <div class="right-pane video-picker">
    <div class="cap controls" ng-show="posts.length" ui-global-keys ui-keydown="{'left': 'prevVideo() && preventDefault($event)', 'right': 'nextVideo() && preventDefault($event)'}">
      <button ng-click="prevVideo()" class="prev">&lt;</button>
      <button ng-click="nextVideo()" class="next">&gt;</button>
    </div>
    <ul class="video-list">
      <li class="post" ng-repeat="post in posts" ng-click="selectPost(post.id)" title="{{post.title}}">
        <img class="thumbnail" ng-src="{{post.url | getVideoIDfromURL | idToThumbnail}}">
        <div class="info">
          <h4 class="title">{{post.title}}</h4>
          <span class="details">
            +{{post.ups - post.downs}}
            <span class="divider">|</span>
            {{post.created_utc | timeago}}
          </span>
        </div>
      </li>
    </ul>
    <div class="cap more-posts" ng-click="getMorePosts()" ng-class="{disabled: loadingPosts}" ng-hide="noMorePosts">
      <span ng-hide="loadingPosts">more</span>
      <span class="loading-msg" ng-show="loadingPosts">loading...</span>
    </div>
    <div class="cap no-more-posts" ng-show="noMorePosts">no more :(</div>
  </div>
</div>
